### #{{.Opts.Ndx}}: {{.Opts.File1st}}

{{range $ii, $xx := .Similars}}{{if ne $ii 0}}{{if ne $xx.Ext (Ext $.Opts.File1st)}}  [ "$FSIM_MIN" ] && [ {{printf "%3d" $xx.Similarity}} -ge "$FSIM_MIN" ] && $FSIM_SHOW mv -vf {{Quote $xx.Org}} {{$.Opts.TmpFileP}}Del{{else}}  # [{{$ii}}] Extension '{{$xx.Ext}}' of {{Quote $xx.Org}} same as original, retained{{end}}
{{end}}{{end}}
